doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Писюн
    body
        p Трататата
        block content
        a(href="http://kakashka.ru") Тупость-претупость
        - var laka = "Дебелизм"
        - var ulaka = "https://last.fm/user/Mark_SW"
        div
            a(href=ulaka)= laka
        script(src="./scripts/first.bundle.js")